extends app

block intro
     form.namecard-form(action='/hello', method='POST')
       label.namecard-prompt Please enter your name: 
       input#namecard-name(type='text', placeholder='first and last' name='username')
       button.namecard-submit(type='submit') Sign up
